*~
*.d
*.o
*.so*
*.docstring.h
cscope*
*.pyc
*.orig
*.i
*.rej

*generated*
*GENERATED*
core*

debian/*.log
debian/*.substvars
debian/*-stamp
debian/*.debhelper
debian/files
debian/*/

*.pickle
test-gradients
test/test-lensmodel-string-manipulation
test/test-cahvor
test/test-parser-cameramodel

*.pod
*GENERATED.*
*.backup*

*.fig.bak
ltximg/
doc/out
doc/external
