*~
*.d
*.o
*.so*
*.dylib*
*.docstring.h
cscope*
*.pyc
*.orig
*.i
*.rej

*generated*
*GENERATED*
core*

debian/*.log
debian/*.substvars
debian/*-stamp
debian/*.debhelper
debian/files
debian/*/

*.pickle
test/test-gradients
test/test-lensmodel-string-manipulation
test/test-cahvor
test/test-parser-cameramodel
test/test-heap

python-cameramodel-converter-py-symbol-refs

*.pod
*GENERATED.*
*.backup*

*.fig.bak
ltximg/
doc/out

mrbuild
mrbuild/
