Source: mrcal
Priority: optional
Section: devel
Build-Depends: debhelper (>= 9), dh-python,
 libdogleg-dev (>= 0.15.4),
 libsuitesparse-dev (>= 1:4.5.2),
 pkg-config,
 perl, liblist-moreutils-perl, vnlog,
 libpython3-all-dev,
 python3,
 python3-gnuplotlib (>= 0.38), python3-numpysane (>= 0.35),
 python3-opencv, python3-numpy, python3-scipy (>= 0.18),
 chrpath,
 re2c
Maintainer: Dima Kogan <dima@secretsauce.net>
Standards-Version: 3.9.8
Homepage: https://www.github.com/dkogan/mrcal/
Vcs-Git: git@github.com:dkogan/mrcal.git
Vcs-Browser: https://www.github.com/dkogan/mrcal/

Package: libmrcal1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV lens models are supported
 .
 This package provides the runtime C libraries

Package: mrcal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrcal1 (= ${binary:Version}),
         python3-mrcal (= ${binary:Version}),
         python3-gnuplotlib (>= 0.38-1), python3-numpysane (>= 0.35),
         python3-scipy (>= 0.18),  python3-ipython,
         python3-opencv, python3,
         mrgingham (>= 1.5)
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV lens models are supported
 .
 This package provides the user-facing tools

Package: libmrcal-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libmrcal1 (= ${binary:Version})
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV lens models are supported.
 .
 This package provides the development C libraries

Package: python3-mrcal
Section: python
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrcal1 (= ${binary:Version}),
         ${python3:Depends},
         python3-gnuplotlib (>= 0.38-1), python3-numpysane (>= 0.35),
         python3-opencv, python3-numpy, python3-scipy (>= 0.18),
         python3-shapely, python3-ipython,
# for image_transformation_map(), not for plotting
         python3-matplotlib
Provides: ${python3:Provides}
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV lens models are supported.
 .
 This package provides the Python interfaces
