Source: mrcal
Priority: optional
Section: devel
Build-Depends: debhelper (>= 9), mrbuild (>= 0.53), dh-python,
 libpython-all-dev,
 libminimath-dev,
 libdogleg-dev,
 libopencv-dev,
 python-numpy,
 pkg-config
Maintainer: Dima Kogan <Dmitriy.Kogan@jpl.nasa.gov>
Standards-Version: 3.9.8
Homepage: https://github.jpl.nasa.gov/maritime-robotics/mrcal/
Vcs-Git: git@github.jpl.nasa.gov:maritime-robotics/mrcal.git
Vcs-Browser: https://github.jpl.nasa.gov/maritime-robotics/mrcal/

Package: libmrcal0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV distortion models are supported
 .
 This package provides the runtime C libraries

Package: mrcal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrcal0 (= ${binary:Version}),
         python-mrcal (= ${binary:Version}), python,
         python-gnuplotlib, python-numpysane
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV distortion models are supported
 .
 This package provides the user-facing tools

Package: libmrcal-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrcal0 (= ${binary:Version})
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV distortion models are supported.
 .
 This package provides the development C libraries

Package: python-mrcal
Section: python
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrcal0 (= ${binary:Version}),
         ${python:Depends},
         python-gnuplotlib, python-numpysane
Provides: ${python:Provides}
Description: Calibration and SFM library
 This is a generic library for feature-based optimization. Common supported use
 cases are camera calibration and structure-from-motion problems. CAHVOR and
 OpenCV distortion models are supported.
 .
 This package provides the Python interfaces
